################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Waveshare4InchTftShield/v16/.suo
/.vs/Waveshare4InchTftShield/v16/Browse.VC.db
/.vs/Waveshare4InchTftShield/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs
*.user
