################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/GraphicsTest/__vm/Upload.vmps.xml
/examples/GraphicsTest/__vm/Configuration.Release.vmps.xml
/examples/GraphicsTest/__vm/Configuration.Debug.vmps.xml
/examples/GraphicsTest/__vm/Compile.vmps.xml
/examples/GraphicsTest/__vm/.GraphicsTest.vsarduino.h
/examples/GraphicsTest/Release/Waveshare_4_Inch_Tft_Touchscreen.backup/Waveshare4InchTftShield.cpp.o
/examples/GraphicsTest/Release/Waveshare_4_Inch_Tft_Touchscreen.backup/Waveshare4InchTftShield.cpp.d
/examples/GraphicsTest/Release/Waveshare_4_Inch_Tft_Touchscreen/Waveshare4InchTftShield.cpp.o
/examples/GraphicsTest/Release/Waveshare_4_Inch_Tft_Touchscreen/Waveshare4InchTftShield.cpp.d
/examples/GraphicsTest/Release/SPI/SPI.cpp.o
/examples/GraphicsTest/Release/SPI/SPI.cpp.d
/examples/GraphicsTest/Release/GraphicsTest.partitions.bin
/examples/GraphicsTest/Release/GraphicsTest.ino.partitions.bin
/examples/GraphicsTest/Release/GraphicsTest.ino.elf
/examples/GraphicsTest/Release/GraphicsTest.ino.bin
/examples/GraphicsTest/Release/GraphicsTest.elf
/examples/GraphicsTest/Release/GraphicsTest.cpp.o
/examples/GraphicsTest/Release/GraphicsTest.cpp.d
/examples/GraphicsTest/Release/GraphicsTest.bin
/examples/GraphicsTest/Release/board.buildinfo
/examples/GraphicsTest/Release/Adafruit_GFX/glcdfont.c.o
/examples/GraphicsTest/Release/Adafruit_GFX/glcdfont.c.d
/examples/GraphicsTest/Release/Adafruit_GFX/Adafruit_SPITFT.cpp.o
/examples/GraphicsTest/Release/Adafruit_GFX/Adafruit_SPITFT.cpp.d
/examples/GraphicsTest/Release/Adafruit_GFX/Adafruit_GFX.cpp.o
/examples/GraphicsTest/Release/Adafruit_GFX/Adafruit_GFX.cpp.d
/examples/GraphicsTest/GraphicsTest.vcxproj.user
/examples/GraphicsTest/GraphicsTest.vcxproj.filters
/examples/GraphicsTest/GraphicsTest.vcxproj
/examples/GraphicsTest/Debug/Waveshare_4_Inch_Tft_Touchscreen.backup/Waveshare4InchTftShield.cpp.o
/examples/GraphicsTest/Debug/Waveshare_4_Inch_Tft_Touchscreen.backup/Waveshare4InchTftShield.cpp.d
/examples/GraphicsTest/Debug/VM_DBG/VM_mem_check_sam.cpp.o
/examples/GraphicsTest/Debug/VM_DBG/VM_mem_check_sam.cpp.d
/examples/GraphicsTest/Debug/VM_DBG/VM_DBG.cpp.o
/examples/GraphicsTest/Debug/VM_DBG/VM_DBG.cpp.d
/examples/GraphicsTest/Debug/SPI/SPI.cpp.o
/examples/GraphicsTest/Debug/SPI/SPI.cpp.d
/examples/GraphicsTest/Debug/GraphicsTest.with_bootloader.hex
/examples/GraphicsTest/Debug/GraphicsTest.partitions.bin
/examples/GraphicsTest/Debug/GraphicsTest.ino.with_bootloader.hex
/examples/GraphicsTest/Debug/GraphicsTest.ino.partitions.bin
/examples/GraphicsTest/Debug/GraphicsTest.ino.hex
/examples/GraphicsTest/Debug/GraphicsTest.ino.elf
/examples/GraphicsTest/Debug/GraphicsTest.ino.eep
/examples/GraphicsTest/Debug/GraphicsTest.ino.bin
/examples/GraphicsTest/Debug/GraphicsTest.hex
/examples/GraphicsTest/Debug/GraphicsTest.elf
/examples/GraphicsTest/Debug/GraphicsTest.eep
/examples/GraphicsTest/Debug/GraphicsTest.cpp.o
/examples/GraphicsTest/Debug/GraphicsTest.cpp.d
/examples/GraphicsTest/Debug/GraphicsTest.bin
/examples/GraphicsTest/Debug/board.buildinfo
/examples/GraphicsTest/Debug/Adafruit_GFX/glcdfont.c.o
/examples/GraphicsTest/Debug/Adafruit_GFX/glcdfont.c.d
/examples/GraphicsTest/Debug/Adafruit_GFX/Adafruit_SPITFT.cpp.o
/examples/GraphicsTest/Debug/Adafruit_GFX/Adafruit_SPITFT.cpp.d
/examples/GraphicsTest/Debug/Adafruit_GFX/Adafruit_GFX.cpp.o
/examples/GraphicsTest/Debug/Adafruit_GFX/Adafruit_GFX.cpp.d
/Waveshare_4_Inch_Tft_Touchscreen-1.0.2.vcxitems
